<p id="notice"><%= notice %></p>

<p>Great!!! Now add the <%= link_to 'Ingredient', new_step_ingredient_path(@step) %> used for this step </p>
<%= link_to 'Edit', edit_step_path %> |
<%= link_to 'Back', step_path %>


